html {
	padding: 0; margin: 0; height: 100%;
}
body {
	padding: 60px 0;
	background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9));
	background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9));
	background: radial-gradient(farthest-side ellipse at 10% 0, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9));
	background-size: cover;
	min-height: 100%;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.overlay {
	background: rgba(51,51,51,0.4);
}

.overlay + .overlay {
	margin-top: 10px;
}

#sidebar h2 {
	margin: 0; padding: 10px 10px 0;
}

a, a:link, a:visited {
	color: rgb(248, 248, 248); border: none;
}

a img {
	border: none;
}


a:hover, a:focus, .navbar a, .navbar a:link {
	color: rgb(60,140,200);
}

a[href^='http']:visited {
	color: rgb(200,200,200);
}

a[href^='http']:visited:focus, a[href^='http']:visited:hover {
	color: rgb(100,180,248);
}

@media (max-width: 991px) {
	#sidebar {
		padding: 0;
	}
}


/*
 * Barre de debug
 */

#debugContent {
	position: fixed;
	bottom: 49px;
	background-color: #ccc;
	border: solid 1px #aaa;
	padding: 0;
	color: #333;
	width: 100%;
	display: none;
	left: 0;
}

.debugContent {
	max-height: 400px;
	overflow-y: auto;
}

#debugContent ul {
	border-bottom: solid 1px #aaa;
	list-style: none;
	margin: 0px;
	padding: 20px;
}

#debugContent li {
	margin: 0;
	padding: 0;
}

#debugContent .empty {
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

#debugTimerContent .progress {
	float: left;
	width: 60%;
}

#debugTimerContent .timerSeconde {
	float: right;
	width: 18%;
}

#debugTimerContent .timerTitle {
	float: left;
	width: 15%;
}

#debugTimerContent li {
	clear: both;
}

#debugTimerContent ul {
	border: none;
}

#debug .badge-info {
  background-color: #4ab0ce;
}
#debug .badge-important {
  background-color: rgb(185, 74, 72);
}

/*
 * Cropbox
 */

.cropbox {
    overflow: hidden;
    display: inline-block;
}

.cropbox img {
    margin:auto;
    max-width: none;
}