html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	padding: 60px 0;
}

#breadcrumb {
	overflow: hidden;
	width: auto;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

#breadcrumb ol {
	line-height: normal;
	margin-bottom: 0px;
	display: inline-block;
}

footer {
	text-align: center;
}

/*
 * Cropbox
 */

.cropbox {
    overflow: hidden;
    display: inline-block;
}

.cropbox img {
    margin:auto;
    max-width: none;
}